In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.linear_model import LinearRegression, LogisticRegression
import duckdb

In [53]:
#import packages and read csv file

In [54]:
df=pd.read_csv(r"C:\Users\ashle\Downloads\Amazon Customer Behavior Survey.csv",thousands=",")

print(df.shape)
df.head()

(602, 23)

,Timestamp,age,Gender,Purchase_Frequency,Purchase_Categories,Personalized_Recommendation_Frequency,Browsing_Frequency,Product_Search_Method,Search_Result_Exploration,Customer_Reviews_Importance,...,Saveforlater_Frequency,Review_Left,Review_Reliability,Review_Helpfulness,Personalized_Recommendation_Frequency,Recommendation_Helpfulness,Rating_Accuracy,Shopping_Satisfaction,Service_Appreciation,Improvement_Areas
0,2023/06/04 1:28:19 PM GMT+5:30,23,Female,Few times a month,Beauty and Personal Care,Yes,Few times a week,Keyword,Multiple pages,1,...,Sometimes,Yes,Occasionally,Yes,2,Yes,1,1,Competitive prices,Reducing packaging waste
1,2023/06/04 2:30:44 PM GMT+5:30,23,Female,Once a month,Clothing and Fashion,Yes,Few times a month,Keyword,Multiple pages,1,...,Rarely,No,Heavily,Yes,2,Sometimes,3,2,Wide product selection,Reducing packaging waste
2,2023/06/04 5:04:56 PM GMT+5:30,24,Prefer not to say,Few times a month,Groceries and Gourmet Food;Clothing and Fashion,No,Few times a month,Keyword,Multiple pages,2,...,Rarely,No,Occasionally,No,4,No,3,3,Competitive prices,Product quality and accuracy
3,2023/06/04 5:13:00 PM GMT+5:30,24,Female,Once a month,Beauty and Personal Care;Clothing and Fashion;...,Sometimes,Few times a month,Keyword,First page,5,...,Sometimes,Yes,Heavily,Yes,3,Sometimes,3,4,Competitive prices,Product quality and accuracy
4,2023/06/04 5:28:06 PM GMT+5:30,22,Female,Less than once a month,Beauty and Personal Care;Clothing and Fashion,Yes,Few times a month,Filter,Multiple pages,1,...,Rarely,No,Heavily,Yes,4,Yes,2,2,Competitive prices,Product quality and accuracy

In [55]:
#we created a new dataframe that is relevant to our research question.

new_df= duckdb.sql('''

SELECT age, Review_Helpfulness, Recommendation_Helpfulness, 
Personalized_Recommendation_Frequency, Cart_Completion_Frequency, 
Add_to_Cart_Browsing, Customer_Reviews_Importance
FROM df
'''                  
).df()
new_df.head()

,age,Review_Helpfulness,Recommendation_Helpfulness,Personalized_Recommendation_Frequency,Cart_Completion_Frequency,Add_to_Cart_Browsing,Customer_Reviews_Importance
0,23,Yes,Yes,Yes,Sometimes,Yes,1
1,23,Yes,Sometimes,Yes,Often,Yes,1
2,24,No,No,No,Sometimes,Yes,2
3,24,Yes,Sometimes,Sometimes,Sometimes,Maybe,5
4,22,Yes,Yes,Yes,Sometimes,Yes,1

In [56]:
#We changed the values from string to numbers so that we can actually measure the correlation. 


new_df['New_Review_Helpfulness']=new_df['Review_Helpfulness'].\
map({'No': 0, 'Sometimes': 1, 'Yes': 2})
new_df.head()

new_df['New_Recommendation_Helpfulness']=new_df['Recommendation_Helpfulness'].\
map({'No': 0, 'Sometimes': 1, 'Yes': 2})
new_df.head()

new_df['New_Personalized_Recommendation_Frequency']=new_df['Personalized_Recommendation_Frequency'].\
map({'No': 0, 'Sometimes': 1, 'Yes': 2})
new_df.head()

new_df['New_Cart_Completion_Frequency']=new_df['Cart_Completion_Frequency'].\
map({'Never': 0, 'Rarely': 1, 'Sometimes': 2, 'Often':3, 'Always':4})
new_df.head()

new_df['New_Add_to_Cart_Browsing']=new_df['Add_to_Cart_Browsing'].\
map({'No': 0, 'Maybe': 1, 'Yes': 2})
new_df.head()

,age,Review_Helpfulness,Recommendation_Helpfulness,Personalized_Recommendation_Frequency,Cart_Completion_Frequency,Add_to_Cart_Browsing,Customer_Reviews_Importance,New_Review_Helpfulness,New_Recommendation_Helpfulness,New_Personalized_Recommendation_Frequency,New_Cart_Completion_Frequency,New_Add_to_Cart_Browsing
0,23,Yes,Yes,Yes,Sometimes,Yes,1,2,2,2,2,2
1,23,Yes,Sometimes,Yes,Often,Yes,1,2,1,2,3,2
2,24,No,No,No,Sometimes,Yes,2,0,0,0,2,2
3,24,Yes,Sometimes,Sometimes,Sometimes,Maybe,5,2,1,1,2,1
4,22,Yes,Yes,Yes,Sometimes,Yes,1,2,2,2,2,2

In [57]:
#We dropped the old columns that weren't relevant anymore as we got a new column. 


new_new_df=duckdb.sql('''
SELECT age, New_Review_Helpfulness, New_Recommendation_Helpfulness, 
New_Personalized_Recommendation_Frequency, New_Cart_Completion_Frequency, 
New_Add_to_Cart_Browsing, Customer_Reviews_Importance
FROM new_df
'''                  
).df()
new_df.head()

,age,Review_Helpfulness,Recommendation_Helpfulness,Personalized_Recommendation_Frequency,Cart_Completion_Frequency,Add_to_Cart_Browsing,Customer_Reviews_Importance,New_Review_Helpfulness,New_Recommendation_Helpfulness,New_Personalized_Recommendation_Frequency,New_Cart_Completion_Frequency,New_Add_to_Cart_Browsing
0,23,Yes,Yes,Yes,Sometimes,Yes,1,2,2,2,2,2
1,23,Yes,Sometimes,Yes,Often,Yes,1,2,1,2,3,2
2,24,No,No,No,Sometimes,Yes,2,0,0,0,2,2
3,24,Yes,Sometimes,Sometimes,Sometimes,Maybe,5,2,1,1,2,1
4,22,Yes,Yes,Yes,Sometimes,Yes,1,2,2,2,2,2

In [61]:
#We looked for outliers for age. We know that if age is under 13, they can't make accounts to buy things. 

real_df=duckdb.sql('''
SELECT age, New_Review_Helpfulness, New_Recommendation_Helpfulness, 
New_Personalized_Recommendation_Frequency, New_Cart_Completion_Frequency, 
New_Add_to_Cart_Browsing, Customer_Reviews_Importance
FROM new_new_df
WHERE age>=13
'''                  
).df()
real_df.head()

,age,New_Review_Helpfulness,New_Recommendation_Helpfulness,New_Personalized_Recommendation_Frequency,New_Cart_Completion_Frequency,New_Add_to_Cart_Browsing,Customer_Reviews_Importance
0,23,2,2,2,2,2,1
1,23,2,1,2,3,2,1
2,24,0,0,0,2,2,2
3,24,2,1,1,2,1,5
4,22,2,2,2,2,2,1

In [64]:
#We want to categorize into 5 different age groups.

real_df['age'] = np.where(real_df['age'].between(13,19), "A", real_df['age'])
real_df['age'] = np.where(real_df['age'].between(19,26), "B", real_df['age'])
real_df['age'] = np.where(real_df['age'].between(26,41), "C", real_df['age'])
real_df['age'] = np.where(real_df['age'].between(41,65), "D", real_df['age'])
real_df['age'] = np.where(real_df['age'].between(65,101), "E", real_df['age'])

print(real_df)

TypeError: '>=' not supported between instances of 'str' and 'int'